<link href="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.css" rel="stylesheet">

<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/bootstrap-table-locale-all.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.21.4/dist/extensions/export/bootstrap-table-export.min.js"></script>



<app-nav></app-nav>
<div class="container-fluid p-5 bg-primary text-white text-center ">
  <h1>Integrador</h1>
  <!-- <p>Cierres contables </p>  -->
</div>

<div class="container-fluid">
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="cierre" role="tabpanel" aria-labelledby="cierre-tab">
      <div class="container">
        <app-cierre></app-cierre>
      </div>
    </div>
    <div class="tab-pane fade" id="subsidiary" role="tabpanel" aria-labelledby="subsidiary-tab">
      <div class="container">
        <app-subsidiary></app-subsidiary>
      </div>
    </div>
    <div class="tab-pane fade" id="core" role="tabpanel" aria-labelledby="core-tab">
      <div class="container">
        <app-core></app-core>
      </div>
    </div>
    <div class="tab-pane fade" id="dynamic" role="tabpanel" aria-labelledby="dynamic-tab">
      <div class="container">
        <app-dynamic></app-dynamic>
      </div>
    </div>
    <div class="tab-pane fade " id="accounting" role="tabpanel" aria-labelledby="accounting-tab">
      <div class="container-fluid">
        <app-accounting></app-accounting>
      </div>
    </div>
    <!-- <div class="tab-pane fade" id="netsuite" role="tabpanel" aria-labelledby="netsuite-tab">
      <div class="container-fluid">
        <app-netsuite></app-netsuite>
      </div>
    </div> -->
  </div>
</div>



<footer>
  <div class="mt-5 p-4 bg-dark text-white text-center">
    <p>Nova Base 2023.</p>
  </div>
</footer>

